h1{
    color: bisque
}
.header{
background-color: powderblue  ;
display:flex ;
justify-content : space-between;
padding: 30px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.column-25 {
    flex-basis: 24%;
    margin: 0px 1%;
    text-align: center;
  }